body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #4285f4;
    color: white;
}

.menu {
    font-size: 28px;
    text-align: center;
    background-color: #4285f4;

}

.menu-item {
    float: left;
    margin: 10px;
    padding: 4px;
    background-color: #1e7d51;
    color: white;
    text-decoration: none;
}

.clearfix {
    clear: both;
}

.main-heading {
    font-size: 72px;
    text-align: center;
    padding: 10px;
    /* border-bottom: 10px solid white */
}

.main-image {
    width: 90%;
}

img {
    max-width: 100%;
}

.normal-text {
    font-size: 28px;
    color: black;
    margin: 10px;
    line-height: 1.25;
    padding:20px;
    text-align:left
}

.content {
    text-align: center;
}

