body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: black;
    line-height: 1.35;
}

.container {
    background-color: teal;
    color: white;
}

.menu {
    background-color: teal;
    padding: 7px;
    margin-bottom: 20px;
}

.menu ul {
    text-align: center;
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.menu li {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    background-color: rgb(83, 153, 211);
    border: white solid 1px;
    box-shadow: 2px 2px black;
}

.menu a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px black;
}

.clearfix {
    clear: both;
}

.main-heading {
    font-size: 40px;
    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px black
}

.main-image {
    width: 90%;
}

.normal-text {
    margin: 10px;
    padding: 20px;
    text-align: left
}

.content {
    text-align: center;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    padding-left: 10px;
    margin-bottom: 10px;
}

.content.block {
    display: block;
    text-align: left;
}

body {
    border: teal solid 10px;
}

#main {
    min-height: 1200px;
}

#footer {
    min-height: 100px;
    background-color: teal;
}

.left {
    /* float: left; */
}

.right {
    /* float: right; */
}

.video {
    max-width: 60%;
}

.text {
    max-width: 35%;
}

li {
    padding-bottom: 8px;
}

video {
    max-width: 100%;
}

img {
    max-height: 100%;
    max-width: 100%;
}

h1 {
    padding-left: 20px;
    text-align: left;
    color: teal
}

h2 {
    text-align: left;
    color: teal
}

.logo {
    text-align: center;
}

.logo img {
    width: 200px;
    margin-bottom: 10px;
}

.teal{ 
    color: teal;
    font-size: 20px;
}

table{
    width:100%;
    text-align:center
}

.col-2 {
    width: 45%;
    padding: 10px;
}

.col-2 img {
    margin: 10px;
}

.center {
    justify-content: center;
}

.footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:teal;
  color: white;
  text-align: center;
  min-height:200px;
  font-size: 14px;
  /* padding: 40px; */
  display: flex;
}

.footer img {
    width:150px;
    height: auto;
    /* text-align:center */
}
 
.footer-break {
    height: 100px;

}

.footer a {
    text-decoration: none;
    color: lightblue;
}

.footer-info {
    max-width: 50%;
    text-align: left;
}

.footer div {
    margin: 40px
}